<h2>Add Track with youtube-url</h2>
<%= form_for(track, remote: true, html: {id: "trackform"}) do |form| %>
  <div class="field">
    <%= form.label :uri %>
    <%= form.text_field :uri, id: 'uri-input' %>
  </div>

  <%= form.hidden_field :server_id, value: @server.id %>

  <div class="actions">
    <%= form.submit 'Add Track', data: { disable_with: false }, id: 'addtrack' %>
  </div>
<% end %>
