<% members = User.joins(:servers_users).where(:servers_users => {:server_id => @server.id })%>
<div class='memberlist'>
    <div class="memberlist__name"><span class="memberlist__helper">Memberlist</span><%= link_to "<i class='fas fa-user-plus'></i>".html_safe, new_servers_user_path(:server_id => @server.id), class: "memberlist__add"%></div>

    
    <div class="memberlist__search">
        <button class="memberlist__searchbar"><span>Future Feauture: Search</span><span><i class="fas fa-search fa-lg"></i></span></button>
    </div>

    <ul class="memberlist__list">
        <li class="memberlist__current-text">Current User</li>
        <% if current_user.profilepic.attached? %>
            <li class='memberlist__user'><div class="memberlist__user-data"><span class="memberlist__userpic"><%= image_tag(url_for(current_user.profilepic)) %></span><span class="memberlist__user-name"><%= current_user.name %></span></div></li>
        <% else %>
            <li class='memberlist__user'><div class="memberlist__user-data"><span class="memberlist__userpic"><%= image_tag("default_pp.png") %></span><span class="memberlist__user-name memberlist__user-name--color"><%= current_user.name %></span></div></li>
        <% end %>
        
        <li class="memberlist__member-text">Member</li>
        <% members.each do |m| %>
            <% if m != current_user %>
                <% if m.profilepic.attached? %>
                    <li class='memberlist__user'><div class="memberlist__user-data"><span class="memberlist__userpic"><%= image_tag(url_for(m.profilepic)) %></span><span class="memberlist__user-name"><%= m.name %></span></div></li>
                <% else %>
                    <li class='memberlist__user'><div class="memberlist__user-data"><span class="memberlist__userpic"><%= image_tag("default_pp.png") %></span><span class="memberlist__user-name"><%= m.name %></span></div></li>

                <% end %>
            <% end %>
        <% end %>
    </ul>
</div>


 