<% members = User.joins(:servers_users).where(:servers_users => {:server_id => @server.id })%>
<div class='memberlist'>
    <div class="memberlist__name"><span class="memberlist__helper">Memberlist</span><%= link_to "<i class='fas fa-user-plus'></i>".html_safe, new_servers_user_path(:server_id => @server.id), class: "memberlist__add"%></div>

    
    <div class="memberlist__search">
    <button class="memberlist__searchbar"><span>Search</span><span><i class="fas fa-search fa-lg"></span></i></button>
    </div>
    <ul class="memberlist__list">
        <li class="memberlist__current-text">Current User</li>
        <li class='memberlist__current-user'><div class="memberlist__user"><span class="memberlist__userpic"><span><span class="memberlist__current-user__name"><%= current_user.email %><span></div></li>
        <li class="memberlist__member-text">Member</li>
        <% members.each do |m| %>
            <% if m != current_user %>
                <% if m.profilepic.attached? %>
                    <li class='memberlist__user'><div class="memberlist__user"><span class="memberlist__userpic"><%= image_tag(url_for(m.profilepic)) %></span><span class="memberlist__current-user__name"><%= m.email %></span></div></li>
                <% else %>
                    <li class='memberlist__user'><div class="memberlist__user"><span class="memberlist__userini"><%=  m.name.upcase[0..1] %></span><span class="memberlist__current-user__name"><%= m.email %></span></div></li>

                <% end %>
            <% end %>
        <% end %>
    </ul>
</div>
<%= link_to '', destroy_user_session_path, method: :delete %>


 