<div class='serverbar'>
    <div class='serverbar__scroll'>
        <div class="serverbar__home">
            <%= link_to "<i class='serverbar__home-icon fas fa-home fa-lg'></i>".html_safe, servers_path, class: "serverbar__home"%>
        </div>
        <div class='serverbar__line'></div>
        <% if !@server.present? %>
            <% @servers.each do |server| %>
                <% if server.serverpic.attached? %>
                    <div class='serverbar__dot'>
                        <%= link_to image_tag(url_for(server.serverpic)), server_path(server.id), method: :get %>
                    </div>
                <% else %>
                    <div class='serverbar__dot'>
                        <%= link_to "<span class='serverbar__servername-span'>#{server.name.upcase[0]}</span>".html_safe, server_path(server.id), method: :get %>
                    </div>
                <% end %>
            <% end %>
        <% else %>
            <% @servers.each do |server| %>
                
                <% if server.serverpic.attached? %>
                    <% if server == @server %>
                        <div class='serverbar__dot'>
                            <%= link_to image_tag(url_for(server.serverpic)), server_path(server.id), method: :get, class: 'serverbar__dot--active' %>
                        </div>
                    <% else %>
                        <div class='serverbar__dot'>
                            <%= link_to image_tag(url_for(server.serverpic)), server_path(server.id), method: :get %>
                        </div>
                    <% end %>
                <% else %>
                    <% if server == @server %>
                        <div class='serverbar__dot'>
                            <%= link_to "<span class='serverbar__servername-span'>#{server.name.upcase[0]}</span>".html_safe, server_path(server.id), method: :get, class: 'serverbar__dot--active' %>
                        </div>
                    <% else %>
                        <div class='serverbar__dot'>
                            <%= link_to "<span class='serverbar__servername-span'>#{server.name.upcase[0]}</span>".html_safe, server_path(server.id), method: :get %>
                        </div>
                    <% end %>
                <% end %>

            <% end %>
        <% end %>
    </div>
    <div class='serverbar__add'>
        <%= link_to "<i class='serverbar__add-icon fas fa-plus fa-lg'></i>".html_safe, new_server_path %>
    </div>

</div>