<% if user_signed_in? %>
<div id='server-id' data-server-id='<%= @server.try(:id) %>'></div>
    <% if @server.present? %>
        <% if User.part_of_server?(@server.id, current_user) %>
        <div class='wrapper'>
            <%= render 'topbar' %>
            <%= render 'serverlist'%>
            <%= render 'playlist' %>
            <%= render 'addtrackmodal' %>
            <%= render 'chat' %>
            <%= react_component('ServerContent', props: {serverName: @server.name})%>
            <%= render 'musicbar' %>
            <div id ="player"></div>
            <div id ="player__hider"><i class="fab fa-youtube"></i></div>
        </div>
        <% else %>
            <% controller.redirect_to servers_path %>
        <% end %>
    <% else %>
    <div class='wrapper--servernotpresent'>
        <%= render 'serverlist'%>
        <%= render 'topbar' %>
        <%= render 'home' %>
    </div>
    <% end %>

<% else %>
    <%= render 'shared/login' %>
<% end %>
<%= javascript_pack_tag 'youtubeplayer.js' %>
<%= javascript_pack_tag 'chat.js' %>

