<% if user_signed_in? %>
<div id='server-id' data-server-id='<%= @server.try(:id) %>'></div>
<div class='wrapper'>
    <%= render 'serverlist'%>
    <% if @server.present? %>
            <%= render 'playlist' %>
            <% if @server.present? %>
                <%= render 'addtrackmodal' %>
                <%= render 'chat' %>
                <%= render 'musicbar' %>
                <%= render 'memberlist' %>
                
            <% end %>
            <%= render 'topbar' %>
    <% end%>
</%=>
<!--
<div class='servers-index'>
    <%= link_to 'logout', destroy_user_session_path, method: :delete %>
    <div id='server-id' data-server-id='<%= @server.try(:id) %>'></div>

    <div class='swrap'>

        <%= render 'serverlist'%>

        <div class="server-content">
            <% if @server.present? %>

            <% if @server.serverpic.attached? %>
                <%= image_tag url_for(@server.serverpic) %>
            <% end %>

                <%= render 'playlist' %>
                <%= render 'chat' %>
                <%= render 'memberlist' %>
                <%= render 'addtrackmodal' %>
                <button class="add-track-button">Click</button>

                <div id ="player"></div>
            <% else %>
                <h2><%= current_user.name %>, welcome to TestRadio </h2>
            <% end %>
        </div>

    </div>
</div>
-->
<% else %>
    <%= render 'shared/login' %>
<% end %>
<%= javascript_pack_tag 'youtubeplayer.js' %>
<script src="https://www.youtube.com/iframe_api"></script>
