<div id='server-id' data-server-id='<%= @server.try(:id) %>'></div>
<h1>Servers</h1>

<div class="servers_list">
    <% @servers.each do |server| %>

    <div>
        <h2><%= server.name %></h2>
        <%= link_to server.name, server_path(server.id) %>
    </div>

    <% end %>
</div>
<br>
<br>
<br>
<br>
<div class="create_server">
<%= link_to "+", new_server_path %>
</div>

<% if @server.present? %>
    <h2>Chat</h2>
    <%= @server.name %>

    <div id='server-messages'>
        <% @server.chatmessages.each do |message| %>
            <%= render 'chatmessages/message' , message: message %>
        <% end %>
    </div>

    <%= render 'chatmessages/form', chatmessage: Chatmessage.new %>

<% else %>
    <h2> nicht drin </h2>
<% end %>