<h1>Erstelle einen Server</h1>

<%= form_for @server do |f| %>
    <div>
        <%= f.label :name %>
        <%= f.text_field :name %>
        <%= f.label :serverpic %>
        <%= f.file_field :serverpic %>
    </div>

<%= f.submit %>
<% end %>

