<h1>Add a member to your server</h2>
<%= form_for @servers_users do |f| %>
    <div>
        <%= label_tag(:user_email, "Email of user") %>
        <%= email_field_tag(:user_email) %>
        <%= f.hidden_field :server_id, value: @server_id %>
    </div>
<%= f.submit %>
<% end %>